 /* https://cloud.tencent.com/developer/article/1015362 */

.box { margin: 100px; }

.menu { width: 50px; height: 50px; position: relative; }
.menu:before, .menu:after { content: ""; display: block; width: 50px; height: 8px; background: #000; border-radius: 8px; position: absolute; left: 0; -webkit-transition: all 0.15s ease-in-out; transition: all 0.3s ease-in-out; }
.menu:before { top: 2.5px; box-shadow: 0 18.5px #000; }
.menu:after { bottom: 2.5px; }
.menu:hover:before { top: 21px; box-shadow: none; -webkit-transform: rotate(225deg); transform: rotate(225deg); }
.menu:hover:after { bottom: 21px; -webkit-transform: rotate(135deg); transform: rotate(135deg); }
